<% room_score = room.score %>

<%= link_to room_tasks_path(room),
    data: { turbo_frame: "modal" },
    class: "block rounded-2xl p-6 text-white shadow-md hover:shadow-lg transition-shadow min-h-[140px] flex flex-col justify-between",
    style: "#{score_gradient(room_score)};" do %>
  <div class="text-sm font-medium opacity-80 truncate"><%= room.name %></div>
  <div class="text-5xl font-bold mt-2"><%= room_score || "--" %></div>
<% end %>
